*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.background{
    background: rgba(0, 0,0, 0.1) url('../images/home.jpg') no-repeat;
    background-size: cover;
    background-blend-mode:color-burn; 
}
.navbar{

    display: flex;
    background-color: rgba(36, 35, 35, 0.61);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
 

    
}
.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:33%;
    border:4px solid rgb(94, 114, 4);
    border-radius: 50px;

}

.navlist{
width: 100%;
display: flex;
align-items: center;
}
.navlist li{
list-style: none;
padding: 26px 30px;
}
.navlist li a{
    font-size: 20px;
    color: honeydew;
    text-decoration: none;
}
.navlist li a:hover{
color:grey;
}

.btn btn-sm{
    border: 2px solid grey;
    border-radius: 2px;
}

.right-nav{
    width: 30%;
    text-align: right;
} 
.right-nav {
    color: blanchedalmond;
}
.firstsection{
   
    height: 16vh;
    
}
.firsthalf{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width: 30%;
}
.secondhalf img{
   width:120%;
   padding: 1px 0;
   border: 1px solid black;
   border-radius: 15px;
}
p.text-big{
    font-size: 48px;
    display: block;
    margin: auto;
}
p.text-small{
    font-size: 24px;
    font-style: italic;
    display: block;
    margin: auto;
}
.box-main{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.left-side{
    max-width: 100%;
    justify-content:center;
    margin-left: 277px;

}
.left-side img{
    border:2px solid black;
    border-radius: 12px;
}

  


.rightimg{
    margin-left: 200px;
}
.transfer-list{
    margin-left: 200px;

}
.one-t{
float: left;
width: 33.33%;
padding: 5px;
padding-left: 33.33px;
}
.one-t img{
    border: 2px solid rgba(167, 164, 164, 0.61);
    border-radius: 12px;
}
img{
    border: 2px solid rgba(167, 164, 164, 0.61);
    border-radius: 12px;
}
.button-main{
float: left;
width: 33.33%;
padding: 5px;
padding-left: 33.33px;
}
.main-button{
 width: 300px;
 height: 50px;
 font-size: 20px;
 font-family: 'Arial Narrow Bold', sans-serif;
 text-transform: uppercase;
 color: white;
 background-color:  rgba(167, 164, 164, 0.61);
 border: 2px solid rgba(167, 164, 164, 0.61);
cursor: pointer;
border-radius: 10px;
padding: 4px;
}

.main-button:hover{
    color: darkslategrey;

}

.customer-img img{
    border:2px solid black;
    border-radius: 12px;
}
.cstm-btn{
    padding: 8px 0px;
    width: 300px; 
    background-color: rgba(167, 164, 164, 0.61);
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 4px solid rgba(167, 164, 164, 0.61);
    border-radius: 8px;
    cursor: pointer;
}
.cstm-btn:hover{
    color: grey;
    }
.transaction{
    background-color: rgba(172, 171, 171, 0.61);
    font-size: 20px;
    color: rgb(0, 0, 0);
    align-items: center;
    font-family: sans-serif;
    padding-top: 5%;
    padding-bottom: 3%;
    
    background-position: center;


}
.form-bg{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    width: 800px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.name{
    line-height: 40px;
    top: -37px;
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    font-size: 20px;
    font-weight: 700;
}
.transaction input{
    width: 350px;
    border-radius: 4px;
    padding: 10px 10px;
    background-color: white;
}
.transaction h2{
    text-transform: uppercase;
}
.transaction h1{
    text-align: center;
}

.moneyform{
max-width: 100%;
}
.send-money{
    padding: 2px 0px 0px 2px;
}
.send-money{
    text-align: center;
}
.send-money button{
    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    background-color: rgba(17, 17, 17, 0.6);
    padding: 4px 4px 4px 4px;
    
}
.send-money button:hover{
    color: rgb(0, 0, 0);
}
.transferhistory{
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.6);
    max-height: fit-content;
    color: white;
    /* margin-left: 533px;
    margin-right: 529px; */
    align-items: center;
    margin: auto;
    text-transform: uppercase;

}
 h1{
    text-align: center;
    text-transform: uppercase; 
   
}
.t-h-bg{
    text-transform: uppercase;
    background-color: rgba(54, 54, 54, 0.61);
}
.about{
    background-color: rgba(172, 171, 171, 0.61);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    display: flex;
 
}
.about-left{
    width: 70%;
   
}
.about-right{
    width: 30%;
    margin-top: 1%;
}
.about-right img{
    border: solid gray;
    border-radius: 8px;
}


.copyright{
   
    background-blend-mode:color-burn; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 4px 3px;
}
.copyright p{
    color: white;
    padding: inherit;
   align-items: center;
}
.burger{
        display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
    }
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;

}

.written{
    font-size: 20px;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.myimg {
    border:4px solid black;
    border-radius: 12px;
    margin-left: 1061px;
    top: 0px;
    text-align: justify;
}

@media only screen and (max-width:1140px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        margin: auto;
        height: 470px;
        transition: all 0.5s ease-out;
    }
    .left-side{
        flex-direction: column;
        align-items: center;
        margin: auto;

    }
 
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .left-side{
        flex-direction: column-reverse;
    }
    .left-side button{
        width: 100%;
        font-size: 16px;
    }
    .left-side img{
       align-items: center;
    }
}

footer{
 align:center;
}